body {
    font-family: 'Nunito';
}


.btnLogin{
    border: 1px solid #A61321;
    color: #A61321;     
}
.lblRed{
    color: #A61321 !important;
    font-weight: 600;
}




#a_submit
{
    text-align: center;
}
.test
{
    background-image: url("/img/index/carousel2.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 250px;
}
#lbl1
{
    color:white;

}

.feather-16{
  width: 16px;
  height: 16px;
}

.feather-24{
  width: 24px;
  height: 24px;
}

.feather-32{
  width: 32px;
  height: 32px;
}


// body {
//     font-size: .875rem;
//   }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    // padding: 10px 0 0; /* Height of navbar */
    // box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  // @media (max-width: 767.98px) {
  //   .sidebar {
     
  //   }
  // }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    // padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
  }

.sidebar-sticky::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}




  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #7A353C;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
//   /*
//    * Navbar
//    */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
   // background-color: rgba(0, 0, 0, .25);
    // box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
//   .form-control-dark {
//     color: #fff;
//     background-color: rgba(255, 255, 255, .1);
//     border-color: rgba(255, 255, 255, .1);
//   }
  
//   .form-control-dark:focus {
//     border-color: transparent;
//     box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
//   }


a.a_icon {
  color:#7A353C !important; 
  
}



.mlqu-color-item
{
  color:#7A353C !important; 
}
.mlqu-color-item:hover
{
  transform: scale(1.2);
}

.mlqu-color{
  background:#7A353C !important;
  color: white;
}



a:hover{
  color:#fff !important;
  font-weight: bold;
  text-decoration: none !important;
}

.modal-header{
  background-color: #7A353C;
  color: #fff;
  padding: 0.45rem !important;
}




.custom-checkbox .custom-control-label::before {
  border-radius: 0.25rem;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  border-color: #7A353C !important;
  background-color: #7A353C !important;
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e");
}
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color:#913d46 !important
}
.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color:#913d46 !important
}

.table th, .table td {
  padding: 0.45rem !important;

}

.table th {
  font-size:10pt;
}

.table td {
  font-size:9pt;
}

.table-hscroll
{
  overflow-x: auto !important;
  white-space: nowrap !important;
}

.offcanvas-collapse {
  position: fixed;
  top: 56px; /* Height of navbar */
  bottom: 0;
  left: 100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #343a40;
  transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  
}
.offcanvas-collapse.open {
  visibility: visible;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: 1000;
}

.disableSelect
{
  background:#E9ECEF;
}

main 
{
  background-color: #F8F9FA !important;
}

// initial state
.chevron {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  // etc.

  // transition settings
  -webkit-transition: -webkit-transform .2s linear 0.2s;
  -moz-transition: -moz-transform .2s linear 0.2s;
  transition: transform .2s linear 0.2s;
  // etc.
}

// open state    
.chevron.flipUp {

  transform: rotate(180deg);
}


/* width */
.customScroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.customScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
.customScroll::-webkit-scrollbar-thumb {
  background: #eee8e8; 
  border-radius: 5px;
}

/* Handle on hover */
.customScroll::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4; 
}
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }


.advancedButton:hover{

  width: 100px;

}


.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem
}

.bd-callout h5 {
  margin-top: 0;
  margin-bottom: .25rem
}

.bd-callout p:last-child {
  margin-bottom: 0
}

.bd-callout code {
  border-radius: .25rem
}

.bd-callout+.bd-callout {
  margin-top: -.25rem
}

.bd-callout-info {
  border-left-color: #5bc0de
}

.bd-callout-info h5 {
  color: #5bc0de
}

.bd-callout-warning {
  border-left-color: #f0ad4e
}

.bd-callout-warning h5 {
  color: #f0ad4e
}

.bd-callout-danger {
  border-left-color: #d9534f
}

.bd-callout-danger h5 {
  color: #d9534f
}

.dropdown-menu.notification {
  width: 300px !important;}


.bg-lazy-color-dark
{

  background: #061325 !important;
  
}

.bg-lazy-color-dark-lighter
{

  background: #0E1C2F !important;
  
}

.a-lazy-color-gray
{
  color: #c4c4c4 !important;
  text-decoration: none !important;
}